// <!--Sc brand CSS -->
.border-brand {
    border-bottom: 1px solid rgba($color: #353535, $alpha: 0.2);
    padding-bottom: 50px;
    .sc-brand-item img {
        margin: 0 auto;
        position: relative;
    }
}
