// <!--Sc Canvas CSS -->
.sc-overlay-bg3,
.sc-overlay-bg2,
.sc-overlay-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.sc-wishlist-canva,
.sc-product-offcanvas-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    z-index: 9999;
    background: #fff;
    padding: 30px 30px 30px;
    right: -450px;
    opacity: 0;
    visibility: visible;
    @include transition();
    .close-btn {
        a {
            i {
                background: #efefef;
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: inline-block;
                text-align: center;
                color: $bodyColor;
                border-radius: 25px;
                @include transition();
                &:hover {
                    background: $primaryColor;
                    color: #fff;
                }
            }
        }
    }
}
.sc-product-offcanvas-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    z-index: 9999;
    background: #fff;
    padding: 30px 30px 30px;
    right: -450px;
    opacity: 0;
    visibility: visible;
    @include transition();
    .sc-offcanvas-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 35px;
        margin-bottom: 30px;
        .offcanvas-title {
            .product-title {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .offcanvas-icon {
        a {
            i {
                font-size: 20px;
                color: #454545;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                background: #1e1e1e;
                border-radius: 40px;
                color: #fff;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                &:hover {
                    background: $primaryColor;
                }
            }
        }
    }
    .sc-offcanvas-icon-list {
        padding-top: 25px;
        ul {
            li {
                display: inline-block;
                padding-right: 5px;
                i {
                    background: $titleColor;
                    color: #fff;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    @include transition();
                    &:hover {
                        background: $primaryColor;
                    }
                }
            }
        }
    }
}
.cart_expanded {
    .sc-product-offcanvas-wrapper {
        right: 0;
    }
    .sc-product-offcanvas-wrapper,
    .sc-overlay-bg {
        opacity: 1;
        visibility: visible;
    }
}

// <!--Sc Product Offcanvas Wrapper Start -->
.canvas_expanded {
    .sc-product-offcanvas-area {
        right: 0;
    }
    .sc-product-offcanvas-area,
    .sc-overlay-bg2 {
        opacity: 1;
        visibility: visible;
    }
}
.mobile-navbar-menu .nav-menu li {
    position: relative;
}

.mobile-navbar-menu .nav-menu li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: block;
    color: #090b1a;
    padding: 10px 0;
    line-height: 30px;
    width: 100%;
    font-family: "Russo One", sans-serif;
}

.mobile-navbar-menu .nav-menu li li a {
    padding-left: 25px;
}

.mobile-navbar-menu .nav-menu li li li a {
    padding-left: 50px;
}

.mobile-navbar-menu span.submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 5px;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.mobile-navbar-menu span.submenu-button:before,
.mobile-navbar-menu span.submenu-button:after {
    position: absolute;
    top: 24px;
    right: 10px;
    width: 20px;
    height: 1px;
    display: block;
    background: #151625;
    z-index: 2;
    content: "";
    right: 12px;
    width: 12px;
}

.mobile-navbar-menu span.submenu-button:before {
    width: 1px;
    height: 12px;
    right: 17px;
    top: 18px;
}

.mobile-navbar-menu span.submenu-button em {
    display: block;
    position: absolute;
    right: 0;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-navbar-menu .hash-has-sub span.submenu-button {
    width: 100%;
    cursor: pointer;
    top: 0;
    height: 50px;
}

.mobile-navbar-menu .submenu-button.submenu-opened:before {
    display: none;
}

.mobile-navbar-menu ul ul li,
.mobile-navbar-menu li:hover > ul > li {
    height: auto;
}

.sc-category-tabs {
    .carousel-nav-icon {
        height: 48px;
        width: 48px;
    }
    .carousel-item {
        .col,
        .col-sm,
        .col-md {
            margin: 8px;
            height: 300px;
            background-size: cover;
            background-position: center center;
        }
    }
}
