h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
}
.wp-block-archives-list li a {
    color: #111;
}
.wp-block-archives-list li a:hover {
    color: #ef9334;
}
.email-not-publish,
.logged-in-as {
    font-size: 15px;
    margin-bottom: 10px;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.sc-breadcrumb-style ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    margin-bottom: 0px;
}
.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

figcaption {
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
}
.wp-caption-text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}
abbr[title] {
    border-bottom: 1px dotted;
}
acronym {
    border-bottom: 1px dotted;
}
.bypostauthor,
.gallery-caption,
.wp-caption-text {
    opacity: 1;
}
table,
td,
th {
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(51, 51, 51, 0.1) !important;
    font-size: 15px;
}
td,
th {
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
table {
    border-collapse: separate;
    margin-bottom: 22px;
    margin-top: 10px;
    border-spacing: 0;
    width: 100%;
}
tbody tr th,
thead th {
    color: #4285f4;
}
select {
    position: relative;
    width: 100%;
    border: none;
    line-height: 56px;
    border-radius: 0;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #6a6c71;
    border: 1px solid #eef0f1 !important;
    background: #fff;
    z-index: 9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyBmaWxsPScyZDI3MjcnIGhlaWdodD0nMjQnIHZpZXdCb3g9JzAgMCAyNCAyNCcgd2lkdGg9JzI0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J003IDEwbDUgNSA1LTV6Jy8+PHBhdGggZD0nTTAgMGgyNHYyNEgweicgZmlsbD0nbm9uZScvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 15px;
}
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
    text-align: center;
}
.base-theme .page-content-main .entry-content ul li {
    list-style: disc !important;
}
.wp-block-image {
    max-width: 100%;
}
.wp-block-image figcaption {
    display: block;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 4px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid #2b3c6b;
}
.wp-block-cover-text {
    font-size: 24px;
}
.wp-block-cover-text a {
    color: #fff;
}
.alignleft {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
}
.wp-block-button.alignright {
    text-align: right;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    padding: 41px 40px !important;
}
article .text {
    overflow: hidden;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    clear: both;
    margin-bottom: 25px;
}
.blocks-gallery-item {
    list-style: outside none;
    padding-left: 0 !important;
}

iframe {
    width: 100%;
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-block-cover-text {
    margin-bottom: 0 !important;
}
.aligncenter {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.blocks-gallery-item:before {
    content: none !important;
}
.widget_recent_entries ul li {
    margin-bottom: 8px;
}
.widget_recent_entries ul li a {
    color: #706767;
    display: block;
    font-weight: 600;
}
.widget_recent_entries ul li:last-child {
    margin-bottom: 0;
}

.widget_product_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_archive {
    border: 2px solid #eef0f1;
    padding: 35px 40px;
}

.widget_product_categories ul li a,
.widget_meta ul li a,
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_categories ul li a,
.widget_archive ul li a {
    position: relative;
}
.widget_archive ul li {
    width: 100%;
    position: relative;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
}
.widget-area ul ul {
    width: 100%;
    margin-top: 11px;
}
.widgets-area .widget.widget_nav_menu ul li ul {
    margin-left: 15px;
}
.widgets-area .widget ul ul li:last-child {
    margin-bottom: 0;
}
.widget_recent_comments ul li .comment-author-link {
    font-weight: 600;
    margin-right: 5px;
}
.widget_recent_comments ul li .comment-author-link a {
    color: #555;
}
.widget_recent_comments ul li a {
    color: #4285f4;
    margin-left: 5px !important;
}
.widget_rss .widget-title h3 a {
    color: #222;
}
.widget_rss ul li {
    font-size: 17px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.widget_rss ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0 solid #e5e5e5;
}
.widget_rss ul li .rsswidget {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}
.widget_rss ul li cite {
    margin-top: 10px;
    display: block;
    font-weight: 600;
}
.widget_rss ul li a {
    color: #4285f4;
}
.widget_text .textwidget form {
    margin-top: 10px;
}
.calendar_wrap table {
    margin-bottom: 0;
    width: 100%;
}
.calendar_wrap table caption {
    padding: 0;
    padding-top: 5px;
}
.calendar_wrap table a {
    color: #4285f4;
}
.calendar_wrap .wp-calendar-nav a {
    color: #4285f4;
}
.page-links {
    margin-bottom: 15px;
    clear: both;
}
.page-links > * {
    position: relative;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #22272b;
    font-weight: 500;
    background: #f9f7ed;
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms ease;
}
.page-links .current {
    background: #4285f4;
    color: #fff;
}
.page-links a:hover {
    color: #fff;
    background: #4285f4;
}
table a {
    color: #555;
    font-weight: 500;
}
table a:hover {
    color: #4285f4;
}
.wp-block-button {
    margin-bottom: 10px;
}
a.wp-block-button__link {
    color: #fff;
}
p.wp-block-cover-text {
    color: #fff !important;
}
ul.blocks-gallery-grid {
    padding: 0 !important;
}
.post-password-form input {
    display: block;
    border: 1px solid #e2e2e2;
    height: 50px;
    padding: 0 20px;
}
.post-password-form label {
    font-weight: 600;
    color: #333;
}
.post-password-form input[type="submit"] {
    width: 100px;
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    background-color: #ef9334;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 15px;
}
.post-password-form input[type="submit"]:hover {
    color: #000;
    background: #fff;
    border-color: #ef9334;
}
.post-password-form input[type="password"] {
    max-width: 350px;
    min-width: 350px;
}
a#cancel-comment-reply-link {
    color: #4285f4;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}
.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
}
.gallery-columns-1 .gallery-item {
    max-width: 100%;
    width: 100%;
}
@media screen and (min-width: 30em) {
    .gallery-columns-1 .gallery-item {
        max-width: 100%;
    }
}
.gallery-columns-2 .gallery-item {
    max-width: 100%;
    width: 50%;
}
@media screen and (min-width: 30em) {
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }
}
.gallery-columns-3 .gallery-item {
    max-width: 100%;
    width: 33.33%;
}
@media screen and (min-width: 30em) {
    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }
}
.gallery-columns-4 > .gallery-item {
    max-width: 100%;
    width: 25%;
}
@media screen and (min-width: 30em) {
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }
}
.gallery-columns-5 .gallery-item {
    max-width: 100%;
    width: 20%;
}
@media screen and (min-width: 48em) {
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }
}
.gallery-columns-6 .gallery-item {
    max-width: 100%;
    width: 16.66%;
}
@media screen and (min-width: 48em) {
    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }
}
.gallery-columns-7 .gallery-item {
    max-width: 100%;
    width: 14.28%;
}
@media screen and (min-width: 48em) {
    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }
}
.gallery-columns-8 .gallery-item {
    max-width: 100%;
    width: 12.5%;
}
@media screen and (min-width: 48em) {
    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }
}
.gallery-columns-9 .gallery-item {
    max-width: 100%;
    width: 11.11%;
}
@media screen and (min-width: 48em) {
    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}
figcaption.blocks-gallery-caption {
    padding-bottom: 25px;
}
.wp-block-button.is-style-squared a.wp-block-button__link {
    border-radius: 0;
}
.wp-block-cover {
    margin-top: 10px;
    margin-bottom: 10px;
}
.base-theme .wp-block-cover-text {
    font-size: 24px !important;
}
td#today {
    background: #4285f4;
    color: #fff;
    font-weight: 600;
}
td#today a {
    color: #fff;
}
img.size-full.wp-image-904.alignleft {
    margin-top: 10px;
}
.blog-details-content .comment-box .comment.yes-ping {
    padding-left: 0;
}
.blog-details-content .comment-box .comment .comment {
    margin-top: 43px !important;
}
.blog-details-content .comment-box .comment .comment {
    margin-top: 43px !important;
    border-bottom: none;
    padding-bottom: 0;
}
.comment-box .comment-respond {
    margin-bottom: 55px;
}
.comments-form-area {
    clear: both;
}
.nothing-found-search {
    max-width: 500px;
}
.main-menu .navigation .megamenu > .sub-menu {
    display: none !important;
    width: 100% !important;
    padding: 30px 50px !important;
    left: 0;
    z-index: 0;
    visibility: hidden;
}
.main-menu .navigation .megamenu:hover > .sub-menu {
    z-index: 1;
    visibility: visible !important;
    display: flex !important;
}
.main-menu .navigation > li.megamenu > ul > li > a {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main-menu .navigation .megamenu > .sub-menu .sub-menu {
    opacity: 1 !important;
    visibility: visible !important;
    position: static;
    top: 0;
    border-top: 0;
    box-shadow: none;
    width: 100%;
    right: unset;
    transform: unset;
    padding-right: 15px;
    padding-left: 0;
}
.main-menu .navigation .megamenu > .sub-menu ul.sub-menu {
    padding-bottom: 0;
}
.main-menu .navigation > li.megamenu > ul > li > ul > li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding-left: 0;
}
.main-menu .navigation > li.megamenu > ul > li.dropdown > a:after {
    display: none;
}
.error-section h1 {
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #4285f4;
}
.error-section h2 {
    margin-bottom: 20px;
    color: #253051;
}
.sticky_post_icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #4285f4;
    font-size: 20px;
}
.blog-details p {
    margin-bottom: 15px;
}
blockquote {
    background-color: #f7f8f9;
    position: relative;
    padding: 35px 70px 35px 45px;
}
.blog-details blockquote P {
    margin-bottom: 0;
}
.blog-details h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog-details h1 + h2 {
    margin-top: 0;
    margin-bottom: 0 !important;
}
p.no-comments {
    margin-top: 20px;
}
.sc-blog-single ul {
    list-style: disc;
    padding-left: 20px;
}
.sc-blog-single .widget_archive ul {
    padding-left: 0;
}
.latest-comments .comment-respond h3.reply-title {
    margin-bottom: 0;
    margin-top: 30px;
}

.widget-area ul ul,
.widget-area.widget_categories ul ul {
    padding-left: 20px;
}
.comment-area {
    clear: both;
}

.blog-sidebar li,
.blog-sidebar a {
    color: #222e41;
}
.widget_block ol,
.widget_block ul {
    margin: 0;
    padding: 0;
}
.blog-sidebar .wp-block-search__label,
.blog-sidebar .widget_block h2 {
    color: #222e41;
    font-size: 23px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    padding-bottom: 12px;
    border-bottom: 1px solid #dddfe0;
    font-family: "Jost", sans-serif;
}
.blog-sidebar .wp-block-search__label {
    padding-bottom: 12px;
    margin: 0 0 26px;
}
.wp-block-search .wp-block-search__input {
    border: 0;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #222e41;
    background: #fff;
    border-radius: 2px 0 0 2px;
}
.widget_block .wp-block-search button {
    border: none;
    color: #484d5a;
    padding: 0 15px;
    position: absolute;
    display: block;
    right: 0px;
    top: 0;
    z-index: 10;
    font-size: 20px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    height: 60px;
    line-height: 67px;
    background: #fff;
    border-radius: 0 2px 2px 0;
}

.wp-block-search .wp-block-search__inside-wrapper {
    position: relative;
}
/* Header Style  */
.boxfin-deafult-logo a {
    font-size: 50px;
    font-weight: 700;
    color: #03041c;
}

.base-theme .sc-menu-select-box {
    display: none !important;
}
.sc-header-right-menu li {
    display: inline-block;
    margin-left: 30px;
}
.sc-header-right-menu li:first-child {
    margin-left: 0;
}
.sc-header-right-menu li a {
    color: #03041c;
    font-size: 16px;
    font-weight: 500;
    display: block;
    transition: 0.4s;
}
.boxfin-deafult-logo {
    padding-top: 10px;
}
.sc-header-right-menu li a:hover {
    color: #ef9334;
}

/* My Style CSS */
.sce-layout-horizontal_col_2 .sce-nav-menu__toggle {
    display: none;
}
.sce-nav-menu__layout-horizontal_col_2 ul {
    display: flex;
    flex-wrap: wrap;
}
.sce-nav-menu__layout-horizontal_col_2 ul li {
    width: 50%;
}
.sce-nav-menu__layout-horizontal_col_2 li a {
    padding-bottom: 20px;
}

.widget_nav_menu ul,
.widget_meta ul,
.widget_pages ul {
    padding-left: 0px !important;
}

.widget_nav_menu {
    border: 2px solid #eef0f1;
    padding: 35px 40px;
}
.wp-block-latest-comments__comment {
    line-height: 25px;
}
.wp-block-group__inner-container ul li {
    margin-bottom: 15px;
}
.wp-block-group__inner-container ul li:last-child {
    margin-bottom: 0px;
}

.sidebar-widget ul > li > a ul li ul.sub-menu li,
.sidebar-widget ul > li > a ul li ul.children li,
.widget_archive ul > li > a ul li ul.sub-menu li,
.widget_archive ul > li > a ul li ul.children li,
.widget_categories ul > li > a ul li ul.sub-menu li,
.widget_categories ul > li > a ul li ul.children li,
.widget_meta ul > li > a ul li ul.sub-menu li,
.widget_meta ul > li > a ul li ul.children li,
.widget_nav_menu ul > li > a ul li ul.sub-menu li,
.widget_nav_menu ul > li > a ul li ul.children li,
.widget_pages ul > li > a ul li ul.sub-menu li,
.widget_pages ul > li > a ul li ul.children li,
.widget_recent_entries ul > li > a ul li ul.sub-menu li,
.widget_recent_entries ul > li > a ul li ul.children li,
.widget_recent_entries ul li ul.sub-menu li,
.widget_recent_entries ul li ul.children li,
.widget_categories ul li ul.sub-menu li,
.widget_categories ul li ul.children li,
.widget_nav_menu ul li ul.sub-menu li,
.widget_nav_menu ul li ul.children li,
.widget_archive ul li ul.sub-menu li,
.widget_archive ul li ul.children li,
.sidebar-widget ul li ul.sub-menu li,
.sidebar-widget ul li ul.children li,
.widget_pages ul li ul.sub-menu li,
.widget_pages ul li ul.children li,
.widget_meta ul li ul.sub-menu li,
.widget_meta ul li ul.children li {
    padding-left: 15px;
}

.sidebar-widget ul > li > a ul,
.widget_archive ul > li > a ul,
.widget_categories ul > li > a ul,
.widget_meta ul > li > a ul,
.widget_nav_menu ul > li > a ul,
.widget_pages ul > li > a ul,
.widget_recent_entries ul > li > a ul,
.widget_recent_entries ul,
.widget_categories ul,
.widget_nav_menu ul,
.widget_archive ul,
.sidebar-widget ul,
.widget_pages ul,
.widget_meta ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar-widget ul > li > a ul li,
.widget_archive ul > li > a ul li,
.widget_categories ul > li > a ul li,
.widget_meta ul > li > a ul li,
.widget_pages ul > li > a ul li,
.widget_recent_entries ul > li > a ul li,
.widget_recent_entries ul li,
.widget_categories ul li,
.widget_archive ul li,
.sidebar-widget ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_nav_menu ul > li > a ul li {
    color: #ffffff;
    font-weight:500;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    line-height: 2.3;
}

.widget_nav_menu ul > li > a ul li {
    line-height: 20px;
}

.widget_recent_entries ul li:last-child,
.widget_categories ul li:last-child,
.widget_nav_menu ul li:last-child,
.widget_archive ul li:last-child,
.sidebar-widget ul li:last-child,
.widget_pages ul li:last-child,
.widget_meta ul li:last-child {
    border-bottom: 0px solid transparent;
}

.sidebar-widget ul > li > a ul > li > a,
.widget_archive ul > li > a ul > li > a,
.widget_categories ul > li > a ul > li > a,
.widget_meta ul > li > a ul > li > a,
.widget_nav_menu ul > li > a ul > li > a,
.widget_pages ul > li > a ul > li > a,
.widget_recent_entries ul > li > a ul > li > a,
.widget_recent_entries ul > li > a,
.widget_categories ul > li > a,
.widget_nav_menu ul > li > a,
.widget_archive ul > li > a,
.sidebar-widget ul > li > a,
.widget_pages ul > li > a,
.widget_meta ul > li > a {
    position: relative;
    color: #424242;
    display: inline-block;
}

.widget_archive ul li,
.widget_pages ul li,
.widget_pages ul li ul,
.widget_meta ul li,
.widget_nav_menu ul li {
    margin-bottom: 15px;
}
.widget_pages ul li ul,
.widget_nav_menu ul li ul {
    margin-top: 15px;
}
.widget_archive ul li:last-child,
.widget_pages ul li:last-child,
.widget_meta ul li:last-child,
.widget_nav_menu ul li:last-child {
    margin-bottom: 0px;
}

.widget_archive ul li:hover a,
.widget_archive ul li:hover span,
.widget_meta ul li a:hover,
.widget_pages ul li a:hover,
.widget_nav_menu ul li a:hover {
    color: #ef9334;
}
td#today {
    background: #ef9334;
    font-weight: 600;
    color: #fff;
}
tbody tr th,
thead th {
    color: #111;
}
.widget_calendar,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss,
.widget_text,
.wp-block-group__inner-container {
    border: 2px solid #eef0f1;
    padding: 30px;
}
.wp-block-group.has-background {
    margin-bottom: 15px;
}

.sc-blog-item .wp-block-media-text__media img:first-of-type {
    margin-bottom: 0;
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid #ccc;
    margin: 50px 0;
    text-align: left;
    background: 0 0;
}

.widget_recent_comments ul li a {
    color: #ef9334;
}

.base-theme .sc-page-gap {
    padding-top: 100px;
    padding-bottom: 100px;
}

.boxfin-page-links a:hover,
.boxfin-page-links .post-page-numbers.current,
.boxfin-page-links .post-page-numbers:hover {
    background-color: #ef9334;
    border-color: #ef9334;
    color: #fff;
}

.base-theme .sticky-wrapper {
    height: unset !important;
}

.base-theme .sc-menu-select {
    display: none !important;
}

.boxfin-page-links a,
.boxfin-page-links .post-page-numbers {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0px 5px;
    text-align: center;
    color: #061a3a;
    background: transparent;
    z-index: 1;
    border: 1px solid #e6e7ec;
    transition: all 500ms ease;
    border-radius: 100%;
}

.comments-area .comment-list {
    list-style: none;
    padding-left: 0px;
}

.single-blog-form .comment-list > .comment:first-child {
    padding-top: 0;
}
.single-blog-form .comment-list > .comment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.each-comment .imgholder {
    float: left;
    margin-top: 5px;
    margin-right: 30px;
}

.each-comment .media-body {
    overflow: hidden;
    position: relative;
}

.comment-date {
    font-size: 14px;
    color: #ef9334;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    margin-top: -5px;
}
.comment-reply {
    margin-top: -10px;
}
.comment-reply a {
    color: #03041c;
    font-weight: 600;
    font-size: 16px;
}
.comment-reply a:hover {
    color: #ef9334;
}

.sidebar-widget .title .icon-line {
    margin-right: 5px;
}

.comment-header .comment-meta a {
    color: #03041c;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.comment-header .comment-meta:hover,
.comment-header .comment-meta a:hover {
    color: #ef9334;
}
.each-comment .imgholder img {
    width: 100px;
    height: 100px;
}

.comment-respond {
    margin-top: 30px;
}


ul.wp-block-categories li {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6a6c71;
    text-transform: capitalize;
}
.widget_categories li {
    font-size: 16px;
    color: #6a6c71;
    text-transform: capitalize;
}

.widget_categories li:last-child {
    padding-bottom: 0px;
}
.widget_categories li ul li:first-child {
    padding-top: 20px;
}
.widget_categories li ul li:last-child {
    padding-bottom: 20px;
}

.widget_categories li ul.children li {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

.logged-in-as a {
    color: #ef9334;
}
.wp-block-navigation__submenu-container li {
    list-style: disc;
}
/* .wp-block-search .wp-block-search__inside-wrapper {
    position: relative;
    height: 70px;
    border: 2px solid #eeeff1;
    border-radius: 2px;
    max-width: 100%;
} */
.wp-block-search__button {
    padding: 10px 20px;
    background: #ef9334;
    color: #fff;
    margin: 4px;
}
.wp-block-site-title a:hover {
    color: #ef9334;
}
.wp-block-image {
    max-width: 100%;
    overflow: hidden;
}

.sc-blog-single-content .sc-blog-details-content-area .sc-blog-item {
    overflow: hidden;
}

.sc-blog-single-content .sc-blog-details-content-area .sc-blog-item img.wp-post-image {
    height: 510px;
    width: 100%;
    object-fit: cover;
}

.boxfin-masonry-grid .blog-img .wp-post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.single-format-image .blog-details-inner {
    margin-top: 40px;
}

.sc-breadcrumb-style .slider-title {
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
}

.sidebar-widget .wp-block-heading,
.sidebar-widget .sc-blog-title .title {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
}
.wp-block-heading {
    margin-bottom: 25px;
}
.sidebar-widget .wp-block-heading:before {
    content: "\e917";
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #ef9334;
    margin-right: 5px;
}
.wp-block-group__inner-container a:hover {
    color: #ef9334;
}
.wp-block-group__inner-container a {
    color: #6a6c71;
}

.post-password-form p:last-of-type {
    margin-bottom: 0px;
}

.comment-text h3 {
    margin-bottom: 7px !important;
}

.single-blog-form ul.children {
    margin-left: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    margin-top: 30px;
}

.single-blog-form ul.children li:first-child {
    padding-top: 0px;
}
.single-blog-form ul.children li:last-child {
    padding-bottom: 0px;
}
.single-blog-form ul.children li ul.children {
    padding-top: 0px;
    padding-bottom: 0px;
}
.single-blog-form ul.children li ul.children li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
}
.single-blog-form ul.children li ul.children li:last-child {
    border: 0px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0px;
}
.blog-comment .comment-list li ul.children {
    list-style: none;
    padding-left: 0px;
}

.single-blog-form ul.children li {
    border: none;
}
.sc-blog-single-content .sc-blog-details-content-area .sc-blog-item .gallery-item img {
    height: auto !important;
}

.base-theme .sc-blog-item .sc-blog-date-box {
    margin-bottom: 20px;
}
.tag-image .sc-blog-details-content-area .blog-details-inner,
.tag-image .sc-blog-details-content-area .blog-details-inner p,
.tag-image .sc-blog-details-content-area .blog-details-inner dl {
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
}
.sc-blog-details-content-area .blog-details-inner blockquote:first-of-type {
    margin-top: 0px;
}
.post_format-post-format-image .sc-blog-details-content-area .blog-details-inner p:first-of-type {
    display: none;
}

.search-no-results .sc-searchbar-area,
.search-no-results .sc-searchbar-area input[type="search"] {
    width: 100%;
    max-width: 100%;
}

.sc-searchbar-area .sc-primary-btn i {
    cursor: pointer;
    pointer-events: none;
}

.search-no-results .search-page,
.search-results .search-page {
    padding-bottom: 100px;
}

.sidebar-widget .wp-block-search .wp-block-search__label {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 25px;
    color: #03041c;
}

.sidebar-widget .wp-block-search .wp-block-search__label:before {
    content: "\f0d1";
    font-family: remixicon !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #ef9334;
    margin-right: 5px;
}

.sidebar-widget .wp-block-search__inside-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
    align-items: center;
}

.sidebar-widget .wp-block-search .wp-block-search__input {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid #eef0f1;
    background: #fff;
    padding: 10px 15px;
    transition: all 500ms ease;
    max-width: 300px;
    margin-right: 10px;
    margin-top: 0px;
}

.sidebar-widget .wp-block-search .wp-block-search__button {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: all 500ms ease;
    color: #fff;
    max-width: 110px;
    cursor: pointer;
    margin-left: 0;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background: #ef9334;
    border: 0px solid #e7e7e8;
    transition: all 500ms ease 0s;
}
.sidebar-widget ul.wp-block-archives li:hover,
.sidebar-widget ul.wp-block-categories li:hover,
.sidebar-widget.widget_archive ul li:hover,
.sidebar-widget.widget_categories ul li:hover {
    color: #ef9334;
}

.widget_categories .sc-blog-title {
    margin-bottom: 8px;
}

.tag-image .sc-blog-details-content-area .blog-details-inner p {
    margin-bottom: 20px;
}

blockquote a {
    color: #03041c;
}

.wp-block-archives-list {
    list-style: none;
    color: #6a6c71;
    padding-left: 0px;
}

.sidebar-widget tbody tr th,
.sidebar-widget thead th {
    color: #03041c;
}

.wp-block-gallery-3.is-layout-flex {
    margin-right: 15px;
}

.calendar_wrap table a {
    color: #03041c;
}

.calendar_wrap .wp-calendar-nav a {
    color: #03041c;
}

.sidebar-widget-area .sidebar-widget:last-child {
    margin-bottom: 0px;
}


.sc-breadcrumb-style-hfe {
    background: #0b0f28;
}

.sc-breadcrumb-style .sc-slider-subtitle ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.sc-breadcrumb-style .sc-slider-subtitle {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 9px 22px 5px;
    border-left: 2px solid #ef9334;
    margin-bottom: 18px;
}
.rss-widget-title {
    color: #111;
}
body .no-image .sc-blog-style2 .sc-blog-date-box {
    margin: 0 0 15px;
}
.no-image .sc-blog-date-box {
    box-shadow: none;
}
.no-image .sc-blog-date-box .sc-date-box {
    height: unset;
    display: flex;
    padding: 5px 17px;
    min-width: unset;
}
.no-image .sc-blog-style2 .sc-blog-text .sc-date-box .title {
    color: #fff;
    margin-right: 10px;
    padding-left: 0;
}
.no-image .sc-blog-style2 .sc-blog-text .sc-date-box .title::before {
    display: none;
}
.no-image .sc-blog-date-box .sc-date-box .sub-title {
    margin-top: 2px;
}
.sc-breadcrumb-style span > a span{
	transition:0.4s;
}

@media only screen and (max-width: 1199px) {
    .base-theme .sc-main-menu > ul > li {
        margin-right: 26px !important;
    }

    .sc-menu-inner .sc-header-logo {
        padding-right: 30px !important;
    }
}

@media only screen and (max-width: 991px) {
    .base-theme .sc-menu-select-box {
        display: block !important;
        padding: 16px 0;
    }
    .base-theme .header-option {
        display: flex;
        justify-content: space-between;
    }
    .sc-blog-navigation {
        margin-bottom: 0px !important;
    }
    .sidebar-widget .wp-block-search .wp-block-search__input {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .comment-respond .form-submit .submit-button {
        margin-top: 0px;
    }
    .single-blog-form ul.children {
        margin-left: 20px;
    }

    .base-theme .sc-page-gap {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}