//  01 global Style

html,
body {
    font-size: 16px;
    color: $bodyColor;
    font-family: $bodyFont;
    vertical-align: baseline;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1.8;
    background: #fff;
}
input,
textarea,
select {
    border: 0;
    background: transparent;
    transition: 0.4s;
    &:focus {
        outline: none;
    }
}
a {
    transition: 0.4s;
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    color: $titleColor;
    line-height: 1.3;
}
h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}
h2 {
    font-size: 45px;
    font-weight: 700;
}
h3 {
    font-size: 25px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
    font-weight: 500;
}
h5 {
    font-size: 16px;
    font-weight: 400;
}
h6 {
    font-size: 15px;
    font-weight: 400;
}
input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}
::-moz-selection {
    background: $primaryColor;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: $primaryColor;
    text-shadow: none;
    color: #ffffff;
    border: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
// sc-heading-area//
.sc-heading-area {
    .sub-title {
        font-size: 16px;
        line-height: 18px;
        color: #424242;
    }
}
.blueColor {
    color: $blueColor;
}
.yellowColor {
    color: $yellowColor;
}
.sc-sub-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-family: $titleFont;
}
.p-z-idex {
    position: relative;
    z-index: 3;
}
.margin_top {
    margin-top: -40px;
}
// color-//
.white-color {
    color: $whiteColor;
}
.gradiant-color {
    background: linear-gradient(98.31deg, #eb1d36 8.58%, #b844ff 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white-dark-color {
    color: $whiteColor0_8;
}
.purple-color {
    color: $secondaryColor;
}
// background-bg//
.gray-bg {
    background: #fbf8ff;
}
.third-bg {
    background: #17975a;
}
.third_bg {
    color: $thirdColor;
}
.yellow-bg {
    background: #fefff5;
}
.white-bg {
    background: #fff;
}
.dark-bg-color {
    background: $darkColor;
}
.primary-color {
    color: $primaryColor;
}
.green-color {
    color: $greenColor;
}
.darker-bg {
    background: $darkerColor;
}
.white-gay-color {
    background: #f0f0f0;
}
// slider
.slick-slider {
    margin: 0 -15px;
    position: relative;
    z-index: 9;
}
.slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}
// primary-btn
@mixin btnStyle($primaryColor) {
    color: $whiteColor;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    background: $primaryColor;
    @media screen and (max-width: 767px) {
        padding: 10px 30px;
    }
    span {
        color: $whiteColor;
        position: relative;
        z-index: 2;
    }
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $secondaryColor;
        border-radius: 50%;
        color: $whiteColor;
    }
    &::before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    &::after {
        right: -20px;
        transform: translate(50%, -50%);
    }
    &:hover {
        color: $whiteColor;
        &::before {
            -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        &::after {
            -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
}
// primary-btn
.primary-btn {
    @include btnStyle($primaryColor);
}
// primary-btn2
.primary-btn2 {
    @include btnStyle($primaryColor);
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $primaryColor;
        }
    }
}
// submit-button
.submit-button {
    @include btnStyle($secondaryColor);
    &::before,
    &::after {
        background-color: $primaryColor;
    }
    input {
        color: $whiteColor;
        position: relative;
        z-index: 9;
    }
}
// sign-in-btn
.sign-in-btn {
    @include btnStyle($secondaryColor);
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $primaryColor;
        }
    }
}
// secondary-btn
.secondary-btn {
    @include btnStyle($thirdColor);
    display: block;
    &::before,
    &::after {
        background-color: $primaryColor;
    }
}

// gradiant-btn
.gradiant-btn {
    background-image: linear-gradient(98.31deg, #eb1d36 8.58%, #b844ff 90.93%);
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    color: $whiteColor;
    padding: 18px 50px;
    span {
        color: $whiteColor;
    }
    &::before,
    &::after {
        background-color: $gradiantColor;
    }
    &:hover {
        span {
            color: $whiteColor;
        }
    }
}
// gradiant-btn
.sc-gradiant-btn {
    border-radius: 50px;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 18px;
    transition: 0.4s;
    padding: 18px 50px;
    border: 1px solid $redColor;
    span {
        color: $redColor;
    }
    &::before,
    &::after {
        background-color: $gradiantColor;
    }
    .sc-gradiant-active,
    &:hover {
        background-image: linear-gradient(98.31deg, #eb1d36 8.58%, #b844ff 90.93%);
        border-color: transparent;
        span {
            color: $whiteColor;
        }
    }
}

// secondary-btn2
.secondary-btn2 {
    @include btnStyle($thirdColor);
    &::before,
    &::after {
        background-color: $primaryColor;
    }
}
// price-btn
.price-btn {
    @include btnStyle($primaryColor);
    display: block;
}
//third-btn
.third-btn {
    @include btnStyle($greenColor);
    position: relative;
    z-index: 3;
    &::before,
    &::after {
        background-color: $secondaryColor;
    }
    span {
        color: $titleColor;
    }
    &:hover {
        span {
            color: $whiteColor;
        }
    }
}
//sc-yellow-btn
.sc-yellow-btn {
    @include btnStyle($yellowColor);
    position: relative;
    z-index: 3;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 33px;
    color: #353535;
    font-family: $titleFont;
    &::before,
    &::after {
        background-color: $blueColor;
    }
    span {
        color: $titleColor;
    }
    &:hover {
        span {
            color: $whiteColor;
        }
    }
}
//sc-yellow-btn-two
.sc-yellow-btn-two {
    @include btnStyle($yellowColor);
    position: relative;
    z-index: 3;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 50px;
    color: #353535;
    font-family: $titleFont;
    &::before,
    &::after {
        background-color: $blueColor;
    }
    span {
        color: $titleColor;
    }
    &:hover {
        span {
            color: $whiteColor;
        }
    }
}
//sc-yellow-btn
.sc-yellow-white-btn {
    @include btnStyle($yellowColor);
    position: relative;
    z-index: 3;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 33px;
    color: #353535;
    font-family: $titleFont;
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    span {
        color: $titleColor;
    }
    &:hover {
        span {
            color: $titleColor;
        }
    }
}
//sc-yellow-btn
.sc-white-transparent {
    @include btnStyle(transparent);
    position: relative;
    z-index: 3;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 33px;
    border: 1px solid $whiteColor;
    color: $whiteColor;
    font-family: $titleFont;
    &::before,
    &::after {
        background-color: $yellowColor;
    }
    span {
        color: $whiteColor;
    }
    &:hover {
        border-color: transparent;
        span {
            color: $titleColor;
        }
    }
}
// sc-yellow-transparent
.sc-yellow-transparent {
    color: #353535;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 13px 33px;
    font-weight: 600;
    font-size: 18px;
    color: #353535;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid #353535;
    @media screen and (max-width: 767px) {
        padding: 10px 30px;
    }
    span {
        color: #353535;
        position: relative;
        z-index: 2;
    }
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $yellowColor;
        border-radius: 50%;
        color: $whiteColor;
    }
    &::before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    &::after {
        right: -20px;
        transform: translate(50%, -50%);
    }
    &:hover {
        color: $whiteColor;
        border-color: transparent;
        &::before {
            -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        &::after {
            -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
}
// sc-yellow-transparent
.sc-yellow-transparent2 {
    color: #353535;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 13px 33px;
    font-weight: 600;
    font-size: 18px;
    color: #353535;
    font-family: $titleFont;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid $whiteColor;
    @media screen and (max-width: 767px) {
        padding: 10px 30px;
    }
    span {
        color: $whiteColor;
        position: relative;
        z-index: 2;
    }
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $yellowColor;
        border-radius: 50%;
        color: $titleColor;
    }
    &::before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    &::after {
        right: -20px;
        transform: translate(50%, -50%);
    }
    &:hover {
        border-color: transparent;
        span {
            color: $titleColor;
            border-color: transparent;
        }

        &::before {
            -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        &::after {
            -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
}
// third-transparent-btn
.third-transparent-btn {
    @include btnStyle($greenColor);
    span {
        color: $titleColor;
    }
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $titleColor;
        }
    }
}
// apps-btn
.apps-btn {
    @include btnStyle($thirdColor);
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $primaryColor;
        }
    }
}
// secondary-bg-btn
.secondary-bg-btn {
    background: $secondaryColor;
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $primaryColor;
        }
    }
}
.apps-btn {
    @include btnStyle($darkColor);
    padding: 15px 35px;
    &::before,
    &::after {
        background-color: $secondaryColor;
    }
    span {
        color: $whiteColor;
    }
    i {
        margin-right: 10px;
    }
    &:hover {
        span {
            color: $whiteColor;
        }
    }
}
.inner-btn {
    @include btnStyle($primaryColor);
    &::before,
    &::after {
        background-color: $whiteColor;
    }
    &:hover {
        span {
            color: $primaryColor;
        }
    }
}
// sc-header-sticky
.sc-header-sticky {
    .sign-in-btn {
        &::before,
        &::after {
            background-color: $primaryColor;
        }
        &:hover {
            span {
                color: $whiteColor;
            }
        }
    }
}
.sc-header-sticky {
    .inner-btn {
        @include btnStyle($primaryColor);
        &::before,
        &::after {
            background-color: $secondaryColor;
        }
    }
}
// sc-header-sticky
.sc-header-section3.sc-header-sticky {
    .sticky-btn {
        @include btnStyle($greenColor);
        span {
            color: $titleColor;
        }
        &::before,
        &::after {
            background-color: $secondaryColor;
        }
        &:hover {
            span {
                color: $whiteColor;
            }
        }
    }
}
// section-bg-shape
.section-bg-shape {
    position: relative;
    .sc-section-bg {
        .bg-image1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .bg-image2 {
            position: absolute;
            top: 0;
            right: 0;
        }
        .bg-image3 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .bg-image4 {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
// section-bg-shape1
.section-bg-shape1 {
    position: relative;
    .sc-section-bg1 {
        .bg-image5 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .bg-image6 {
            position: absolute;
            top: 120px;
            right: 0;
        }
        .bg-image7 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .bg-image8 {
            position: absolute;
            bottom: -120px;
            right: 0;
        }
    }
}
// section-bg-shape2
.section-bg-shape2 {
    position: relative;
    .sc-section-bg2 {
        .bg-image9 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .bg-image10 {
            position: absolute;
            top: 100px;
            right: 0;
        }
        .bg-image11 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .bg-image12 {
            position: absolute;
            bottom: -195px;
            right: 0;
        }
    }
}
// section-bg-shape2
.section-bg-shape3 {
    position: relative;
    .sc-section-bg3 {
        .bg-image13 {
            position: absolute;
            bottom: -195px;
            left: 0;
        }
        .bg-image14 {
            position: absolute;
            bottom: -195px;
            right: 0;
        }
    }
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

// Translate
@mixin transition($transition: 0.4s) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
}

@mixin transitionEase($transition: 1s) {
    transition: $transition all ease;
    -webkit-transition: $transition all ease;
    -moz-transition: $transition all ease;
}

// Border Style
@mixin borderStyle($width: 1px, $color: #333) {
    border: $width solid $color;
}
.priary-borer {
    @include borderStyle();
    @include transition($transition: 0.3s);
}

/* -----------------------
    17. Scroll Up CSS
--------------------------*/
#scrollUp {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 999;
    border-radius: 50px 50px 4px 4px;
    i {
        background: $primaryColor;
        border-radius: 50%;
        height: 40px;
        font-size: 20px;
        font-weight: 400;
        width: 40px;
        color: #fff;
        line-height: 40px;
        @include transition();
        margin-left: 2px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
        display: block;
        &:hover {
            background-color: $secondaryColor;
        }
    }
}
body {
    .search-modal {
        .modal-content {
            background: transparent;
            position: initial;
            border: 0;
        }
        .search-block {
            input {
                height: 60px;
                line-height: 60px;
                padding: 0;
                background: transparent;
                border-width: 0 0 1px 0;
                border-radius: 0;
                border-color: rgba(255, 255, 255, 0.4);
                box-shadow: none;
                color: #ffffff;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .close {
            color: $whiteColor;
            background-color: transparent;
            opacity: 1;
            outline: none;
            transition: 0.4s;
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 24px;
            z-index: -1;
            border: none;
            &:hover {
                color: $primaryColor !important;
                opacity: 1 !important;
            }
        }
    }
    .modal-backdrop {
        opacity: 0.95 !important;
    }
}

.shake-y {
    -webkit-animation: shakeY 5s ease-in-out infinite;
    animation: shakeY 5s ease-in-out infinite;
}
@-webkit-keyframes shakeY {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes shakeY {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.pulse {
    -webkit-animation: pulse 3s ease-in-out infinite;
    animation: pulse 3s ease-in-out infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.skew-spin {
    -webkit-animation: skewSpin 5s linear infinite;
    animation: skewSpin 5s linear infinite;
}
@-webkit-keyframes skewSpin {
    0% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
    }
    100% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
    }
}
@keyframes skewSpin {
    0% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
    }
    100% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
    }
}

.left-right-rotate {
    animation: rotated-style3 2s infinite alternate;
}
@keyframes rotated-style3 {
    0% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
}
