@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
$bodyFont: "Varela", sans-serif;
$titleFont: "Space Grotesk", sans-serif;
$othersFont: "Inter", sans-serif;
$primaryColor: #ef9334;
$secondaryColor: #7215fa;
$bodyColor: #424242;
$whiteColor: #ffffff;
$blueColor: #7a77ff;
$titleColor: #101621;
$gradiantColor: (98.31deg, #eb1d36 8.58%, #b844ff 90.93%);
$redColor: #e81f41;
$darkColor: #101621;
$thirdColor: #17975a;
$darkerColor: #f8f8f8;
$greenColor: #70ef34;
$yellowColor: #cdeb45;
$whiteColor0_8: rgba(255, 255, 255, 0.8);
